[Unit]
Description=Microservicios del proceso de inscripcion

[Service]
ExecStart=/usr/bin/node bin/www
WorkingDirectory=/home/lupaz/Docker_tests/API-REST/alfresco_ins
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=microServices
User=nobody
Group=nogroup
Environment=NODE_ENV=production PORT=3000

[Install]
WantedBy=multi-user.target
